<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-config.dtd">
<!-- 配置仅用于IDE识别MyBatis Mapper XML文件位置，不用于运行时 -->
<configuration>
    <!-- 映射文件位置配置 -->
    <mappers>
        <!-- 系统模块Mapper映射 -->
        <mapper resource="mapper/system/SysConfigMapper.xml"/>
        <mapper resource="mapper/system/SysUserMapper.xml"/>
        <mapper resource="mapper/system/SysRoleMapper.xml"/>
        <mapper resource="mapper/system/SysMenuMapper.xml"/>
        <mapper resource="mapper/system/SysPostMapper.xml"/>
        <mapper resource="mapper/system/SysDictDataMapper.xml"/>
        <mapper resource="mapper/system/SysDictTypeMapper.xml"/>
        <mapper resource="mapper/system/SysRoleDeptMapper.xml"/>
        <mapper resource="mapper/system/SysRoleMenuMapper.xml"/>
        <mapper resource="mapper/system/SysUserRoleMapper.xml"/>
        <mapper resource="mapper/system/UserMapper.xml"/>
    </mappers>
</configuration> 